.main {
  height: 100vh;
}
.header {
  height: 3rem;
  background: #001439;
}
df-messenger {
  --df-messenger-bot-message: #4d74ff;
  /*--df-messenger-button-titlebar-color: #df9b56;*/
  /* --df-messenger-chat-background-color: #e6e5e5; */
  --df-messenger-font-color: white;
  --df-messenger-send-icon: red;
  /* --df-messenger-user-message: #479b3d; */
  --df-messenger-user-message: #4d65b4;
}
