.main {
  height: 100vh;
}
.header {
  height: 3rem;
  background: #001439;
}
df-messenger {
  --df-messenger-bot-message: #001439;
  --df-messenger-button-titlebar-color: #1d4285;
  /* --df-messenger-chat-background-color: #e6e5e5; */
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #001439;
  /* --df-messenger-user-message: #479b3d; */
  --df-messenger-user-message: #1d4285;
}
